* {
    text-align: center;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background: linear-gradient(cyan,cyan);
    background-size: cover;
    background-position: center;
    height: fit-content;
}
h1 {
    /* color: aliceblue; */
    margin-top: 10vh;
}
span {
    color: aqua;
}
.parent {
    margin: 10vh auto;
    background-color: coral;
    border: 2px solid black;
    border-radius: 20px;
    width: 500px;
    min-width: 20vh;
}
.parent h3 {
    color: aliceblue;
    margin: 20px auto;
}
.parent .hasil {
    margin: 20px auto 35px;
    font-weight: 700;
    font-size: 20px;
    width: 80%;
    overflow-x: auto;
    color: aliceblue;
}
.container {
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
button {
    padding: 10px 25px;
    border-radius: 10px;
    background: cyan;
}
.container .inputText {
    box-sizing: border-box;
    min-height: 30px;
    max-height: 90px;
    overflow: auto;
    width: 100%;
    margin: auto 20px;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: left;
    text-indent: 5px;
    font-size: 16px;
    background: aliceblue;
}

