* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button {
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 10px;
    background: cyan;
}
section {
    height: 100vh;
}